<!-- ALERT MESSAGE IF INVALID GOSSIP -->

<% if flash[:error] %>
	<div class="alert alert-danger" role="alert">
	  <button type="button" class="close" data-dismiss="alert">&times;</button>
	  <p>The comment could not be edited due to the following reason(s) :</p>
	  <ul>
	    <% @comment.errors.full_messages.each do |message| %>
	      <li><%= message %></li>
	    <% end %>
	  </ul>
	  </div>
<% end %>


<!-- EDIT COMMENT FORM -->
<br />
<div class = "center">
	<h1>Edit your comment !</h1>
	<br />

	<%= form_tag gossip_comment_path, method: "patch" do %>

		  <span><strong><%= label_tag 'Content'%></strong></span>
		  <%= text_area_tag 'content', @comment.content, class: "form-control", rows:"5" %>
		  <br /> 

	  	<%= submit_tag "Update comment", class: "btn btn-warning btn-lg btn-block" %>

	<% end %>
	<br/>
	<span class="btn btn-danger btn-lg btn-block" role="button"> <%= link_to "Delete the comment", gossip_comment_path(@comment.id), method: :delete, data: {confirm: "Are you sure?"}, style: 'color:#FFFFFF;', class: 'css_class' %>
	</span>
</div>