<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="app/assets/stylesheets/application.css">
    <title>The Gossip Project</title>
  </head>

  <body>
  	<!-- Navigation Bar -->
	<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
	  <span class="navbar-brand">
	  	<%= link_to "The Gossip Project", welcome_secret_path(@user_name), style: 'color:#FFFFFF;', class: 'css_class'  %>
	  </span>
	  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarText" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
	    <span class="navbar-toggler-icon"></span>
	  </button>
	  <div class="collapse navbar-collapse" id="navbarText">
	    <ul class="navbar-nav mr-auto">
	      <li class="nav-item active">
	      	<span class="nav-link white">
	      		<%= link_to "Team", team_path, style: 'color:#FFFFFF;', class: 'css_class' %>
	       		<span class="sr-only">(current)</span>
	       	</span>
	      </li>
	      <li class="nav-item">
	        <span class="nav-link white">
	      		<%= link_to "Contacts", contacts_path, style: 'color:#FFFFFF;', class: 'css_class'  %>
	       	</span>
	      </li>
	    </ul>
	  </div>
	</nav>
	<!-- Welcome Jumbotron -->
	<div class = "container jumb">
		<div class="jumbotron">
		  <h2 class="display-1">Welcome <%=@user_name%> !</h2>
		  <p class="lead">This is my funny Gossip application !</p>
		  <hr class="my-4">
		  <p>Click on the button below to create a new Gossip.</p>
		  <p class="lead">
		    <span class="btn btn-primary btn-lg" role="button"> <%= link_to "New Gossip", create_gossip_path, style: 'color:#FFFFFF;', class: 'css_class'  %>
		    </span>
		  </p>
		</div>
	</div>
	<!-- Gossip Cards <--></-->
	<div class = "container">
		<h1> Here are all the gossips : </h1>
		<br/>
		<div class = "row">
			<% @all_gossips.each_with_index do |gossip, i| %>
				<div class="card col-xs-12 col-sm-12 col-md-4 col-lg-4">
				  <div class="card-body">
				  	<h3><%= gossip.title %></h3>
				    <p><%= gossip.author.first_name %> <%= gossip.author.last_name %></p>
					<span class="btn btn-warning" role="button"> <%= link_to "View Gossip", gossip_path(i+1), style: 'color:#000000;', class: 'css_class' %>
				    </span>
				  </div>
				</div>
			<% end %>
		</div>
	</div>
  </body>
</html>