<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="app/assets/stylesheets/application.css">
    <link href="//netdna.bootstrapcdn.com/twitter-bootstrap/2.3.2/css/bootstrap-combined.min.css" rel="stylesheet" id="bootstrap-css">
	<script src="//netdna.bootstrapcdn.com/twitter-bootstrap/2.3.2/js/bootstrap.min.js"></script>
	<script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
    <title>The Gossip Project</title>
  </head>

  <body>
  	<!-- Navigation Bar -->
	<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
	  <span class="navbar-brand">
	  	<%= link_to "The Gossip Project", welcome_path, style: 'color:#FFFFFF;', class: 'css_class'  %>
	  </span>
	  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarText" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
	    <span class="navbar-toggler-icon"></span>
	  </button>
	  <div class="collapse navbar-collapse" id="navbarText">
	    <ul class="navbar-nav mr-auto">
	      <li class="nav-item active">
	      	<span class="nav-link white">
	      		<%= link_to "Team", team_path, style: 'color:#FFFFFF;', class: 'css_class' %>
	       		<span class="sr-only">(current)</span>
	       	</span>
	      </li>
	      <li class="nav-item">
	        <span class="nav-link white">
	      		<%= link_to "Contacts", contacts_path, style: 'color:#FFFFFF;', class: 'css_class'  %>
	       	</span>
	      </li>
	    </ul>
	  </div>
	</nav>

	<div class="container">
	  <div class="row">
	    <div class="span2 ">
	      <img src="https://img.20mn.fr/meUBriI8Q8uqlURJQoQghA/1200x768_acteur-joaquin-phoenix-sous-traits-joker.jpg"  alt="" class="img-rounded">
	    </div>
	    <div class="span4 card col-xs-8 col-sm-8 col-md-8 col-lg-8">
	      <blockquote>
	        <p><%= @user.first_name %> <%= @user.last_name %> </p>
	        <small><cite title="Source Title"><%= @user.city.name %>  <i class="icon-map-marker"></i></cite></small>
	      </blockquote>
	      <p>
	        <i class="icon-envelope"></i> <%= @user.email %> <br>
	        <i class="icon-gift"></i> January 30, <%= 2019 - @user.age %>
	        <p> <%= @user.description %> </p>
	      </p>
	    </div>
	  </div>
	</div>


  </body>
</html>