<br/>
<div class = "container list" >
	<h1> Here are all the gossips from <%= @city.name %>: </h1>
	<br/>
	<div class = "row">
		<% @all_users.each do |user| %>
			<% user.gossips.each_with_index do |gossip,i| %>
				<div class="card col-xs-12 col-sm-12 col-md-4 col-lg-4">
				  <div class="card-body">
				  	<h3><%= gossip.title %></h3>
				    <p><%= gossip.user.first_name %> <%= gossip.user.last_name %></p>
					<span class="btn btn-warning" role="button"> <%= link_to "View Gossip", gossip_path(gossip.id), style: 'color:#000000;', class: 'css_class' %>
				    </span>
	 				<% if current_user %>
					    <% if current_user.id.in?(gossip.likes.pluck(:user_id)) %>
						    <button type="button" class="btn btn-primary btn-md">
							  <span class="glyphicon glyphicon-thumbs-up" aria-hidden="true"></span> 
							  <%= link_to gossip.likes.count, {:controller => "like", :action => "destroy", :id => Like.find_by(user_id: current_user.id, gossip_id: gossip.id).id}, method: :delete, style: 'color:#FFFFFF;'%>
							  <!-- like_path(Like.find_by(user_id: current_user.id, gossip_id: gossip.id))-->
							</button>
						<% else %>
							<button type="button" class="btn btn-default btn-md">
							  <span class="glyphicon glyphicon-thumbs-up" aria-hidden="true"></span>
							  <%= link_to gossip.likes.count,{:controller => "like", :action => "create", :gossip_id => gossip.id}, method: :post, style: 'color:#000000;'%>
							</button>
						<% end %>
					<% end %>
				  </div>
				</div>
			<% end %>
		<% end %>
	</div>
</div>